@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Popins', sans-serif;
}

:root
{
	--clr: #ffc800;
}

body
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
    flex-direction: column;
}

.popup
{
	display: flex;
	height: 70vh;
	width: 100%;
}

#stationPopup
{
    position: fixed;
    top: 7%;
    left: -80%;
    transform: translate(-10%, 5%);
    transition: 0.8s;
    background-color: #fff;
    width: 900px;
    height: 70vh;
    border-radius: 15px;
    padding: 80px 50px 50px;
    box-shadow: 10px -10px 20px -10px rgba(0,0,0,0.4);
    visibility: hidden;
}

#stationPopup.active
{
	visibility: visible;
	left: 26.5%;
}

#datePopup
{
    position: fixed;
    top: 7%;
    left: -80%;
    transform: translate(-10%, 5%);
    transition: 0.8s;
    background-color: #fff;
    width: 900px;
    height: 70vh;
    border-radius: 15px;
    box-shadow: 10px -10px 20px -10px rgba(0,0,0,0.4);
    visibility: hidden;
}

#datePopup.active
{
	visibility: visible;
	left: 26.5%;
}

.popup .p-content
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.popup .p-content .c-title
{
	width: 100%;
    height: 15%;
    background: #ff8040c9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 20px;
}

#datePopup .p-content .calendars
{
	width: 100%;
    height: 50%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#datePopup .p-content .c-select
{
	width: 100%;
	height: 15%;
	display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#datePopup .p-content .calendars .today
{
	font-size: 24px;
    box-shadow: 10px -10px 20px -10px rgb(0 0 0 / 40%);
    width: 250px;
    height: 250px;
    text-align: center;
    font-weight: 600;
}

#datePopup .p-content .calendars .today .day
{
	font-size: 60px;
}

#datePopup .p-content .calendars .yesterday, .tomorrow
{
    font-size: 18px;
    box-shadow: 10px -10px 20px -10px rgb(0 0 0 / 40%);
    width: 150px;
    height: 150px;
    text-align: center;
    font-weight: 600;
    color: #bebebe;
}

#datePopup .p-content .calendars .yesterday .day0, .tomorrow .day2
{
	font-size: 40px;
}

#datePopup .p-content .calendar div
{
	height: 25%;
	width: 100%;
	position: relative;
	line-height: 40px;
}

#datePopup .p-content .calendar .year
{
    background:#ffc800;
    color: #fff;
    font-size: 30px;
}

#datePopup .p-content .calendar .year0, .year2
{
    background:#bebebe;
    color: #fff;
    font-size: 20px;
}

#timePopup
{
    position: fixed;
    top: 7%;
    left: -80%;
    transform: translate(-10%, 5%);
    transition: 0.8s;
    background-color: #fff;
    width: 900px;
    height: 70vh;
    border-radius: 15px;
    padding: 80px 50px 50px;
    box-shadow: 10px -10px 20px -10px rgba(0,0,0,0.4);
    visibility: hidden;
}

#timePopup.active
{
	visibility: visible;
	left: 26.5%;
}

#sizePopup
{
    position: fixed;
    top: 7%;
    left: -80%;
    transform: translate(-10%, 5%);
    transition: 0.8s;
    background-color: #fff;
    width: 900px;
    height: 70vh;
    border-radius: 15px;
    box-shadow: 10px -10px 20px -10px rgba(0,0,0,0.4);
    visibility: hidden;
}

#sizePopup.active
{
	visibility: visible;
	left: 26.5%;
}

#sizePopup .p-content table .loc
{
	cursor: pointer;
    background-color: #a2d8ff;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

#sizePopup .p-content table .Kiosk
{
    background-color: #fa8a8a;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

#sizePopup .p-content .selected
{
	width: 100%;
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
	margin-bottom: 40px;
}

#sizePopup .p-content .selected h3
{
	color: #989aa2;
}

#sizePopup .p-content .selected #sel-locker
{
	color: #ffffff;
    background-color: #ffc800;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
}

#confPopup
{
    position: fixed;
    top: 7%;
    left: 120%;
    transform: translate(-10%, 5%);
    transition: 0.8s;
    background-color: #fff;
    width: 900px;
    height: 70vh;
    border-radius: 15px;
    padding: 80px 50px 50px;
    box-shadow: 10px -10px 20px -10px rgba(0,0,0,0.4);
    visibility: hidden;
}

#confPopup.active
{
	visibility: visible;
	left: 26.5%;
}

.close
{
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.close img
{
	width: 15px;
	height: 15px;
	color: rgba(0,0,0,0.3);
}

.navigation
{
	width: 400px;
	height: 70px;
	background: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.navigation ul
{
	display: flex;
	width: 350px;
}

.navigation ul li
{
	position: relative;
	list-style: none;
	width: 70px;
	height: 70px;
	z-index: 1;
}

.navigation ul li a
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-weight: 500;
}

.navigation ul li a .icon
{
	position: relative;
	display: block;
	line-height: 75px;
	font-size: 1.5em;
	text-align: center;
	transition: 0.5s;
	color: var(--clr);
}

.navigation ul li.active a .icon
{
	transform: translateY(-32px);
}

.navigation ul li a .text
{
	position: absolute;
	color: var(--clr);
	font-weight: 400;
	font-size: 0.75em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	opacity: 0;
	transform: translateY(20px);
}

.navigation ul li.active a .text
{
	opacity: 1;
	transform: translateY(10px);
}

.indicator
{
	position: absolute;
	top: -50%;
	width: 70px;
	height: 70px;
	background: #ff8040;
	border-radius: 50%;
	border: 6px solid var(--clr);
	transition: 0.5s;
}

.indicator::before
{
	content: '';
	position: absolute;
	top: 50%;
	left: -22px;
	width: 20px;
	height: 20px;
	background: transparent;
	border-top-right-radius: 20px;
	box-shadow: 1px -10px 0 0 var(--clr);
}

.indicator::after
{
	content: '';
	position: absolute;
	top: 50%;
	right: -22px;
	width: 20px;
	height: 20px;
	background: transparent;
	border-top-left-radius: 20px;
	box-shadow: -1px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicator
{
	transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator
{
	transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
	transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator
{
	transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator
{
	transform: translateX(calc(70px * 4));
}
